<%- include('includes/head') %>

<div class="page-header">
  <h1>About me <small>I Love to learn</small></h1>
</div>

<p>Highly motivated, detail oriented and results driven individual who excels at taking on new responsibilities and meeting deadlines. Resourceful in meeting all challenges while exceeding expectations. Strong communicator with excellent interpersonal skills who steadily makes positive team contributions. Professional, business-oriented, quick learner who is flexible and can easily integrate into new projects. Strong work ethic, organizational and priority management skills demonstrated by the capacity to administer various tasks simultaneously and adapt to changing priorities. In-depth knowledge of maintaining positive client relations by proper handling of all client questions and concerns in a timely manner. Proficient in HTML5, CSS3, PHP, SQL, Twitter Bootstrap & Foundation (CSS frameworks), WordPress, Joomla, JavaScript, jQuery, jQuery-mobile, Ajax, JSON,  Server Management, Adobe Photoshop CC, Adobe illustrator CC, Adobe Flash CC. </p>

<%- include('includes/footer') %>

