<%- include('includes/head') %>
<div class="page-header">
  <h1>Work Experience  <small>I Love to Freelance </small></h1>
</div>

<div class="page-header">
  <h4>Front End Developer (Contract)  <small>Jawa Auction Inc.</small></h4>
</div>
 <ul>	
	<li>Responsible for the Front-end development the Jawa Auction Application </li>
	<li>Developed the frame of the front-end responsive design utilizing Twitter Bootstrap
     (CSS Framework). 
</li>
	<li>Developed the Front-end using the JavaScript framework ember.js. </li>
	<li>Utilized a Git repository for version control.</li>
	<li>Utilized the command line to create routes, components and other files needed for ember.js. </li>
</ul> 



<%- include('includes/footer') %>
